<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NewsPortal</title>
    <link rel="stylesheet" href="{%static "css/index.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to HBTechnologies News Portal</h1>
    <ul>
        <li><a href="movies">movies portal</a></li>
        <li><a href="politics">politics portal</a></li>
        <li><a href="sports">sports portal</a></li>
    </ul>
    
</body>
</html>