<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Portal</title>
    <link rel="stylesheet" href="{%static "css/index.css" %}">
</head>

<body>
    <h1>Welcome to Movies News Portal</h1>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/Salman_Khan">Salman Khan </a> new Movie
            <a href="https://en.wikipedia.org/wiki/Bharat_(film)">Bharat</a> ready to Release on this Eid-2019</li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Kapil_Sharma_(comedian)">Kapil Sharma </a> very happy on married of
            <a href="https://en.wikipedia.org/wiki/Deepika_Padukone">Deepika Padukone</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Anushka_Sharma"> Anushka Sharma</a> is very happy on
            <a href="https://en.wikipedia.org/wiki/Virat_Kohli">Virat</a>
        </li>
       
    </ul>

    <hr>
    <img src="{%static "images/salman.jpeg"%}">
    <img src="{%static "images/sweet.jpeg"%}">
    <img src="{%static "images/virat.jpg"%}">
    <img src="{%static "images/back.jpeg"%}">
    <img src="{%static "images/hushen.jpg"%}">
    <img src="{%static "images/asad.jpeg"%}">
    
    
    



</body>

</html>