<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Portal</title>
    <link rel="stylesheet" href="{%static "css/index.css" %}">
    
</head>
<body>
    <h1>Welcome to POLITICS News Portal</h1>
    <ul>
        <li>Modi has taken a good decision on Rafel</li>
        <li>NCP again come in india says Rahul Gandhi</li>
        <li>BJP will not come in 2019 election Indian people teach the lesson to them</li>
    </ul>

    <hr>
    <img src="{%static "images/salman.jpeg"%}">
    <img src="{%static "images/sweet.jpeg"%}">
    <img src="{%static "images/virat.jpg"%}">
    <img src="{%static "images/back.jpeg"%}">
    <img src="{%static "images/hushen.jpg"%}">
    <img src="{%static "images/asad.jpeg"%}">
    
    
</body>
</html>