<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Portal</title>
    <link rel="stylesheet" href="{%static "css/index.css" %}">
</head>
<body>
    <h1>Welcome to SPORTS News Portal</h1>
    <ul>
        <li>India won a TEST series by 2-1 Leading after 76 years</li>
        <li>India won a ODI series by 2-1</li>
        <li>Dhoni hits 3 consecutives half centuries and give reply to haters</li>
    </ul>

    <hr>
    <img src="{%static "images/salman.jpeg"%}">
    <img src="{%static "images/sweet.jpeg"%}">
    <img src="{%static "images/virat.jpg"%}">
    <img src="{%static "images/back.jpeg"%}">
    <img src="{%static "images/hushen.jpg"%}">
    <img src="{%static "images/asad.jpeg"%}">
    
</body>
</html>